@charset "UTF-8";

div#wrap {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 10px;
}
header#header {
  border: 2px solid #f80;
  height: 100px;
  display: flex;
  padding: 10px;
}
#header > div#headerLogo {
  width: 200px;
  border: 2px solid #08f;
}
#header > nav#gnb {
  flex: 1;
  border: 2px solid #08f;
}

div#contents {
  display: flex;
  justify-content: space-between;
  height: 200px;
  padding: 10px;
}
div#contents>div{
  font-size: 30px;
  border: 2px solid #f80;
  margin: 4px;
}