<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #b {
            text-align: center;
            background-color: #f3f8e2;
            width: 200px;
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div id="b">
    <h1>셔플</h1>
    <img src="../images/seattle_shuffle.jpg" alt="">
    <br>
    <a href="/index.html">돌아오다.</a>
</div>
</body>
</html>